body{
    background-color: #cd84f1;
}
#divBallGrid button{
    border-radius: 5000%;
    width: 6vh;
    height: 6vh;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    color: red;
    font-size: 180px;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.header{
    text-align: center;
    font-size: 8vh;
    padding: 20px;
    color: #ffc068;

}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
#btnStart option{
    background-color: yellow;
}
#divBallGrid table{
    border: 10px solid #f7f1e3 ;
    margin: auto;
}
.text-content{
    margin: 5vh;
    padding: 4vh;
    border: #f7f1e3 solid;
    width: 500px;

}